@model Biblioteca.Models.Libro.Libro
@{
    ViewData["Title"] = "Edit";
}
<div class="account-listar3">
    <h2 class="text-center mb-4" style="font-family:OMEGLE ; font-size: 45px"><b>Nuevo Libro</b></h2>
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row justify-content-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <form asp-action="Edit" method="post">
                            @Html.AntiForgeryToken() <!--seguridad Token-->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control", @placeholder = "22" } })
                            <label for="titulo">Ingrese el Título del Libro</label>
                            @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="AutorId" asp-items="ViewBag.Autores" class="form-control">
                                        <option value="" disabled selected>[Seleccione Autor]</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.AutorId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="EditorialId" asp-items="ViewBag.Editoriales" class="form-control">
                                        <option value="" disabled selected>[Seleccione Editorial]</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.EditorialId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">

                                <div class="form-floating">
                                    <select asp-for="GeneroId" asp-items="ViewBag.Generos" class="form-control">
                                        <option value="" disabled selected>[Seleccione Género/Categoría]</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.GeneroId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <select asp-for="IdiomaId" asp-items="ViewBag.Idiomas" class="form-control">
                                        <option value="" disabled selected>[Seleccione Idioma]</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.IdiomaId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.AñoPublicacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "22" } })
                                        <label for="AñoPublicacion">Ingrese Año de Publicación</label>
                                        @Html.ValidationMessageFor(model => model.AñoPublicacion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="UbicacionLibroId" asp-items="ViewBag.UbicacionLibros" class="form-control">
                                            <option value="" disabled selected>[Seleccione Ubicación]</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.UbicacionLibroId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            @Html.EditorFor(model => model.Ejemplares, new { htmlAttributes = new { @class = "form-control", @placeholder = "22" } })
                                            <label for="FechaNacimiento">Ingrese Cantidad de Ejemplares</label>
                                            @Html.ValidationMessageFor(model => model.Ejemplares, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="EstadoLibroId" asp-items="ViewBag.EstadoLibros" class="form-control">
                                            <option value="" disabled selected>[Seleccione Estado de Libro]</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.EstadoLibroId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <select asp-for="EstadoPrestamoId" asp-items="ViewBag.EstadoPrestamos" class="form-control">
                                            <option value="" disabled selected>[Seleccione Estado de Prestamo]</option>
                                        </select>
                                        @Html.ValidationMessageFor(model => model.EstadoPrestamoId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <input type="submit" value="Guardar" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        </form>
                    </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a href=@Url.Action("Listar","Libro")><h5>Regresar a la Lista de Libros</h5></a></div>
                    </div>
        </div>
    </div>
    }
</div>

