@model List<Biblioteca.Models.Libro.EstadoPrestamo>
@{
    ViewData["title"] = "Listar";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<h1 class="mt-4">Lista de Estado de Prestamo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <form action="@Url.Action("Create", "EstadoPrestamo")" method="get" style="display:inline;">
            <button type="submit" class="btn btn-primary">Nuevo Estado de Prestamo</button>
        </form>
    </li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Listado
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Estado de Prestamo</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var estadoprestamo in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => estadoprestamo.Prestamo)</td>
                        <td>
                            <a href="@Url.Action("Edit", "EstadoPrestamo", new { id = estadoprestamo.Id })" class="btn btn-primary me-2"><i class="fas fa-edit"></i></a>
                            <form action="@Url.Action("Delete", "EstadoPrestamo", new { id = estadoprestamo.Id })" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-danger me-2" onclick="return confirm('¿Estás seguro de que deseas eliminar el ESTADO DE PRESTAMO seleccionado?');"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
